<html lang="en">
<head>
    {{>headerlinks}}
   </head>
<body>
    {{>navbar}}
   <!-- main header -->

   <div class="container-fluid main_header">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
<div class="row">
  <!-- left side div -->
  <div class="col-md-12 col-12 main_header_left align-item-center">
    <figure class="errorImage">
        <img src="Images/404.png" alt="">
    </figure>
 </div>
 <div class="right-center">
     <h1> {{  errorMassage }} </h1>
     <a href="/"><br>
     <button> Go back </button></a>
 </div>

  </div>
      

</div>

</div>

       </div>
     </div>
   </div>

   <!-- footer side -->
